html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
} 

body{
  background-image: url("/assets/bgm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  color:white;
}

img {
  filter: brightness(200%);
}

.col{
  float:right;
}

button:hover{
  color:white;
}

#bd{
  background-image: url("/assets/home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#headval{
  color: black;
}

#dash:hover{
  color:white;
}

.back{
  border-radius:5px;
  background-image: url("/assets/hanging.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}